<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <div class="swiper-slide">
      <app-logo></app-logo>
      <h2>Join DE Today</h2>
      <p>Digital Employee by Family Group PLC - The simplest way to earn in Africa! You are 2 steps away. Get started now!</p>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="swiper-slide">
      <img src="assets/images/welcome-slide-2.png"/>
      <h2>Referral Deposits</h2>
      <p>Encourage Family Bank Account holders to desposit more and YOU earn a daily commission while at home! </p>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="swiper-slide">
      <img src="assets/images/welcome-slide-3.png"/>
      <h2>Earn forever!</h2>
      <p>Once a deposit is made with your referral code, you earna daily commission. You can earn on several deposits </p>
    </div>
  </ion-slide>
</ion-slides>
