<ion-content>
  <div class="center top-pad-signup">
    <app-logo></app-logo>
    <!-- <h2>Sign In</h2> -->
  </div>
  <form class="padds">
    <ion-list>
      <!-- username -->
      <ion-item>
        <ion-label position="floating" color="de">
          <ion-icon item-left name="person"></ion-icon>
          Email Address
        </ion-label>
        <ion-input type="text" name="email" [(ngModel)]="postData.email" class="inputs"></ion-input>
      </ion-item>
      <!-- password -->
      <ion-item>
        <ion-label position="floating" color="de">
          <ion-icon item-left name="lock-closed"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" name="password" [(ngModel)]="postData.password" class="inputs"></ion-input>
      </ion-item>
      <!-- confirm password -->
      <ion-item>
        <ion-label position="floating" color="de">
          <ion-icon item-left name="lock-closed"></ion-icon>
          Confirm Password
        </ion-label>
        <ion-input type="password" name="confirm_password" [(ngModel)]="postData.confirm_password" class="inputs"></ion-input>
      </ion-item>
      <!-- button -->
      <ion-button expand="block" shape="round" color="de" class="primary spc-top" (click)="register()">
        Sign Up
      </ion-button>
      
      <p class="router-link-p center">Have account? <a routerLink='/login'>Login Here</a></p>

    </ion-list>
  </form>
  <!-- footer -->
  <ion-footer>
    
  </ion-footer>
  <!-- end footer -->
</ion-content>
